body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: white;

}
.logo{
position: left;
left: 300px;
top: 15%;
transform: translateY(-50%);
width:100px;
}

header {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(135deg, #111, #1f1f1f);
}
header h1 {
  margin: 0;
  font-size: 2.5 rem;
}

header p {
  opacity: 0.7;
}


.about, .contact {
  padding: 50px 20px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.btn-secundario {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-secundario:hover {
  background: white;
  color: green;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  opacity: 0.6;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95);
}

.modal-content {
  display: block;
  margin: 5% auto;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  cursor: pointer;
}

.conteudo-historia {
  padding: 60px 20px;
  background: #121212;
}

.container {
  max-width: 900px;
  margin: auto;
  text-align: left;
}

.container h2 {
  margin-top: 40px;
  color: #ffffff;
}

.container p {
  line-height: 1.8;
  margin-top: 15px;
  color: #cccccc;
}

